{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="card" style="width: 500px">
    <div class="card-divider align-center">
      <h4>Indiquez votre nom</h4>
    </div>
    <form action="{{url_for('lagalette')}}" method="get">
      <div class="card-section">
        <input name="user" class="input-group-field"/>
      </div>
      <div class="card-section">
        <input type="submit" class="button success" value="Chassez la fève">
      </div>
    </form>
  </div>
</div>
{% endblock %}